.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
  
}
.full-height {
  height: 100vh;
}

.flex-align-center {
  display: flex;
  align-items: center;
}

.flex-uniform {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
}

.space-between{
  justify-content: space-between;
}

.flex-justify-center {
  display: flex;
  justify-content: center;
}

.flex{
    display: flex;
}

.flex-column{
    display: flex;
    flex-direction: column;
}

.align-self-start{
    align-self: flex-start;
}

.align-self-center{
  align-self: center;
}


.absolute{
    position: absolute;
}

.t-yellow{color: #FFD43B;}
.t-white{color: white;}

/* gap  */
.gap-6{
  gap: 6px;
}
.gap-60{
  gap: 60px;
}

.gap-80{
  gap: 80px;
}
.gap-20{
  gap: 20px;
}
/* margin  */
.mx-140{
  margin: 0 160px;
}

/* padding  */

.p-32-160{
  padding: 32px 160px;
}

/* font size */
.f-32{
  font-size: 32px;
}